@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

:root{
    --change-color:#ea4343;
}

.blue{
    --change-color: #4169e1;
}

.green{
    --change-color: #66b95c;
}

.yellow{
    --change-color: #ff9800;
}

.pink{
    --change-color: #ff5e94;
}

.orange{
    --change-color: #fa5b0f;
}

.black{
    --change-color: #333;
}

.purple{
    --change-color: #9200ee;
}

.light-blue{
    --change-color: #00d4bd;
}

.dark-blue{
    --change-color: #5e9e9f;
}

.crimson{
    --change-color: #ea4343;
}

.clay-color{
    --change-color: #666d41;
}

.red{
    --change-color: #fe0000;
}

html{scroll-behavior: smooth;}

body{
    background-color: #f4f5fe;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

#hero{
    background-color: #3c3c3c;
}

.hero__title{
    display: none;
}

.site-header{
    padding: 30px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-color: transparent;
    background-color: transparent;
    transition: all 0.4s ease;
}

.header__logo-link{
    font-weight: 700;
    text-decoration: none;
    font-size: 42px;
    color: #fff;
}

.header__logo-link:hover{
    color: var(--change-color);
}

.nav__list{
    list-style: none;
    margin-bottom: 0;
}

.nav__item:not(:last-child){
    margin-right: 45px;
}

.header__logo-link{
    transition: all 0.4s ease;
}

.nav__link--active:hover{
    color: var(--change-color);
}

.nav__link{
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    color: #fff;
    text-transform: capitalize;
}

.nav__link--active{
    color: var(--change-color) !important;
}

.nav__link:hover{
    color: var(--change-color);
}

.menu-btn{
    display: none !important;
}

.menu-btn i{
    transition: all 0.4s ease;
}

.fixed-header{
    background-color: #fff;
}

.text-black{
    color: #15111e;
}

/* HEADER END */
/* HERO-INTRO START */

.hero-intro{
    width: 100%;
    max-width: 1320px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 88px;
    position: relative;
}

.hero-intro__content{
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero-intro__hello{
    display: inline-block;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -.2px;
}

.hero-intro__title{
    font-size: 150px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    color: var(--change-color);
    margin-bottom: 0;
}

.hero-intro__job{
    position: relative;
}

.hero-intro__entry{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    letter-spacing: -0.2px;
    display: inline-block;
}

.hero-intro__change{
    display: inline-block;
    perspective: 300px;
    width: 174.052px;
    transform-style: preserve-3d;
    font-size: 75px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.2px;
    position: relative;
}

.is-visible{
    display: inline-block;
    transform-origin: 100% 100%;
    transform: rotateX(0deg);
    animation: rotate-it 2s linear infinite both;
}

@keyframes rotate-it{
    0%{
        transform: rotateX(0deg);
        opacity: 1;
    }

    35%{
        transform: rotateX(-40deg);
        opacity: 1;
    }

    65%{
        opacity: 0;
    }

    80%{
        transform: rotateX(180deg);
        opacity: 0;
    }

    100%{
        transform: rotateX(180deg);
        opacity: 0;
    }
}

.is-hidden{
    display: inline-block;
    transform-origin: 100% 100%;
    transform: rotateX(180deg);
    animation: rotate-hidden 2s linear infinite both;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes rotate-hidden{
    0%{
        transform: rotateX(180deg);
        opacity: 0;
    }

    35%{
        transform: rotateX(120deg);
        opacity: 0;
    }

    65%{
        opacity: 0;
    }

    80%{
        transform: rotateX(360deg);
        opacity: 1;
    }

    90%{
        transform: rotateX(360deg);
        opacity: 1;
    }

    100%{
        transform: rotateX(360deg);
        opacity: 0;
    }
}

.hero-intro__btn-box{
    margin-top: 35px;
    margin-bottom: 55px;
}

.btn-box__link{
    display: inline-block;
    background-color: var(--change-color);
    padding: 15px 46px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    border-radius: 6px;
    border: 2px solid var(--change-color);
    transition: all .3s ease;
    cursor: pointer;
}

.bx-envelope{
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.btn-box__link:hover{
    background-color: transparent;
    color: #fff;
}

.btn-box__about{
    margin-left: 36px;
    position: relative;
}

.btn-box__about-link{
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}

.btn-box__about-link::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.btn-box__about-link:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.btn-box__about-link:hover{
    color: #fff;
}

.hero-into__mouse{
    cursor: pointer;
}

.hero-into__mouse svg{
    width: 35px;
    height: 35px;
}

#wheel{
    position: relative;
    animation: wheel 2s linear infinite both;
}

@keyframes wheel {
    0%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(60px)
    }
}

.hero-intro__img-box{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 37%;
}

.main-img{
    width: 488px;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 1;
}

.main-photo{
    width: 100%;
    height: 778px;
    z-index: 1;
}

.bg-img-one{
    width: 380px;
    position: absolute;
    top: 150px;
    bottom: 150px;
    right: -55px;
}

.bg-img-one span{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    background-color: var(--change-color);
}

.bg-img-two{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 80px;
    left: -70px;
    z-index: 2;
}

.bg-img-two span{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    background-color: var(--change-color);
}

.bg-img-three{
    width: 80px;
    height: 110px;
    position: absolute;
    top: 235px;
    left: -110px;
    z-index: 2;
}

.bg-img-three span{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    background-color: var(--change-color);
}

.bg-img-four{
    width: 440px;
    height: 470px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: transparent !important;
    z-index: 0;
}

.bg-img-four span{
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    border: 5px solid #fff;
    background-color: transparent !important;
}

.bg-img-five{
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 32%;
    right: -180px;
}

.bg-img-four span{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    background-color: var(--change-color);
}

.bg-text{
    font-size: 260px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 3px rgba(255,255,255,.3);
    position: absolute;
    right: -145px;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: -70px;
}

.social{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    list-style: none;
}

.social__item{
    margin-bottom: 15px;
}

.social__link{
    font-size: 30px;
    color: #fff;
    transition: all 0.4s ease;
}

.social__link:hover{
    color: var(--change-color);
}

.fixed-email-box{
    position: absolute;
    left: 50px;
    bottom: 40px;
}

.fixed-email{
    font-size: 21px;
    text-decoration: none;
    color: #fff;
    transition: all .3s ease;
}

.fixed-email::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.fixed-email:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.fixed-email:hover {
    color: #fff;
}

.setting-box{
    position: fixed;
    right: -200px;
    top: 25%;
    z-index: 100;
    width: 200px;
    max-height: 382px;
    padding: 40px 20px 33px 30px;
    background-color: #000;
    transition: all 0.4s ease;
}

.show{
    right: 0;
    
}

.setting-wrapper{
    width: auto;
    position: relative;
}

.setting-icon{
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: #000;
    padding: 12px 12px 4px; 
    cursor: pointer;
}

.setting-icon .fa{
    color: #fff;
    font-size: 30px;
    animation: setting 2s linear infinite both;
}

@keyframes setting {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.setting-entry{
    color: #fff;
    font-weight: 600;
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.setting-entry::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    left: 0;
    bottom: 0;
}

.color-list{
    margin: 0 0 22px;
    padding-top: 32px !important;
    list-style: none;
}

.color__item{
    margin-right: 5px;
}

.color__btn{
    border: none;
    background-color: none;
}

.color__item:first-child .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #4169e1;
}

.color__item:nth-child(2) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #66b95c;
}

.color__item:nth-child(3) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ff9800;
}

.color__item:nth-child(4) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ff5e94;
}

.color__item:nth-child(5) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fa5b0f;
}

.color__item:nth-child(6) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #333;
}

.color__item:nth-child(7) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #9200ee;
}

.color__item:nth-child(8) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #00d4bd;
}

.color__item:nth-child(9) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #5e9e9f;
}

.color__item:nth-child(10) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ea4343;
}

.color__item:nth-child(11) .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #666d41;
}

.color__item:last-child .color__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fe0000;
}

.cursor-entry{
    color: #fff;
    font-weight: 600;
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.cursor-entry::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
    left: 0;
    bottom: 0;
}

.cursor__list{
    padding-top: 15px !important;
    margin-bottom: 0;
    list-style: none;
}

.cursor__item:first-child{
    margin-right: 20px;
}

.cursor__btn{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    position: relative;
}

.cursor__btn::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.cursor-pointer{
    border: none;
    background-color: transparent;
}

/* HERO END */
/* ABOUT START */

#about{
    padding: 170px 0;
}

.about{
    position: relative;
}

.about__left-img{
    position: relative;
}

.about__left-img img{
    border-radius: 10px;
    position: relative;
    z-index: 1;
    max-width: 332px;
    max-height: 362px;
    margin-left: 160px;
}

.about-span{
    background-color: var(--change-color);
    width: 270px;
    height: 270px;
    position: absolute;
    top: 300px;
    left: 65px;
    animation: box-up 5s linear infinite both;
}

@keyframes box-up {
    0%{
        top: 300px;
    }

    50%{
        top: 200px;
    }

    100%{
        top: 300px;
    }
}

.about__box{
    display: inline-block;
    width: 1000px;
    height: 300px;
    background-color: transparent;
    position: absolute;
    right: 100%;
    top: 27%;
    transform: translateY(-55%);
    margin-right: -50px;
    z-index: 2;
    border: 6px solid #fff;
    animation: border-move 4s linear infinite both;
    transition: all 0.4s ease;
}

@keyframes border-move {
    0%{
        right: 60%;
    }

    50%{
        right: 50%;
    }

    100%{
        right: 60%;
    }
}

.about__center{
    padding: 0 100px 0 140px;
}

.about__entry{
    color: var(--change-color);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -.2px;
    display: inline-block;
    margin-bottom: 6px;
}

.about__title{
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: #15111e;
}

.about__name{
    color: var(--change-color);
}

.about__job{
    color: var(--change-color);
}

.about__location{
    font-size: 36px;
    margin-top: 18px;
    font-weight: 700;
    color: #15111e;
    letter-spacing: -0.2px;
    display: inline-block;
    margin-bottom: 23px;
}

.about__text{
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
}

.about__text{
    margin-bottom: 31px !important;
}

/* .about__last-text{
    margin-bottom: 16px !important;
} */

.about__cv{
    padding: 15px 46px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid var(--change-color);
    transition: all .3s ease;
    background-color: var(--change-color);
    position: relative;
}

.bxs-download{
    font-size: 20px;
    position: relative;
    top: 3px;
}

.about__cv:hover{
    background-color: transparent;
    color: #15111e;
}

.about__right{
    position: relative;
    top: 270px;     
}

.about__right img{
    max-width: 327px;
    min-height: 486px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-right: 70px;
}

.about__second-box{
    display: inline-block;
    background-color: var(--change-color);
    height: 390px;
    width: 1000px;
    position: absolute;
    left: 100%;
    margin-left: -200px;
    top: 150px;
    animation: right-bx 5s linear infinite both;
    transition: all 0.4s ease;
}

@keyframes right-bx {
    0%{
        left: 100%;
    }

    50%{
        left: 80%;
    }

    100%{
        left: 100%;
    }
}

/* ABOUT END */
/* SKILL START */

.skill{
    position: relative;
}

.skill-box{
    display: inline-block;
    width: 500px;
    height: 420px;
    position: absolute;
    bottom: -660px;
    right: 100%;
    border: 6px solid #fff;
    animation: right-border 5s linear infinite both;
}

@keyframes right-border {
    0%{
        right: 100%;
    }

    50%{
        right: 80%;
    }

    100%{
        right: 100%;
    }
}

.skill-intro{
    padding: 160px 0 557px;
    background-color: var(--change-color);
}

.skill__entry{
    color: #fff;
    font-size: 24px;
    font-weight: 700px;
    letter-spacing: -0.2px;
    display: inline-block;
    margin-bottom: 5px;
}

.skill-content{
    margin-right: 63px;
}

.skill__title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.3;
    margin-bottom: 0;
}

.skill__text{
    color: #fff;
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
}

.skill__stats{
    width: 100%;
}

.stats{
    margin-top: 20%;
}

.stats__html{
    margin-bottom: 27px;
}

.html__name{
    margin-bottom: 8px;
}

.html__title{
    display: inline-block;
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.html__num{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.2px;
    display: inline-block;
}

.html__line{
    background: rgba(255,255,255,.3);
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 8px;
    border-radius: 25px;
}

.html__percent{
    width: 86%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px 0 0 25px;
}

.js-percent{
    width: 90%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px 0 0 25px;
}

.react-percent{
    width: 66%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px 0 0 25px;
}

/* SKILL END */
/* PORTFOLIO START */

#portfolio{
    margin-top: -500px;
    padding-top: 100px;
}

.portfolio__entry{
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-bottom: 5px;
}

.portfolio__title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.3;
    margin-bottom: 55px;
}

.portfolio__list{
    list-style: none;
    margin: 0 auto;
    margin-bottom: 0;
}

.portfolio__item{
    cursor: pointer;
    position: relative;
    padding: 20px;
}

.portfolio__img{
    width: 100%;
    height: 368px;
    border-radius: 10px;
    object-fit: cover;
}

.pp-wrapper{
    position: relative;
}

.portfolio__shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--change-color);
    opacity: 0.72;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.portfolio__item:hover .portfolio__shadow{
    opacity: 0.72;
}

.portfolio__content{
    width: 100%;
    height: 100%;
}

.p-inner-wrapper{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 35px;
    opacity: 0;
    transition: all 0.3s ease;
}

.portfolio__item:hover .p-inner-wrapper{
    bottom: 0;
    opacity: 1;
}

.p-inner{
    margin-bottom: 35px;
}

.p-inner__name{
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.p-inner__list{
    width: 150px;
    list-style: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.p-inner__link{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    transition: all 0.4s ease;
    position: relative;
}

.p-inner__link::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.p-inner__link:hover{
    color: #fff;
}

.p-inner__link:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

/* PORTFOLIO END */
/* SERVICE START */

#service{
    padding: 135px 0;
    position: relative;
}

.service__list{
    list-style: none;
}

.service__item{
    margin: 0;
    margin-bottom: 25px;
    cursor: pointer;
}

.service__item:nth-child(even){
    padding-left: 25px;
}

.service__wrapper{
    padding-right: 60px;
}

.service__entry{
    display: inline-block;
    color: var(--change-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-bottom: 5px;
}

.service__title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.3;
    color: #15111e;
    margin-bottom: 0;
}

.service__text{
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
}

.s-item__bg .svg{
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
}

.s-item__box{
    padding: 60px 60px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 13px 13px 90px rgb(131 4 4 / 6%);
}

.s-item__bg{
    width: 300px;
    background-image: url('https://marketifythemes.net/html/aale/img/svg/service.png');
    background-repeat: no-repeat;
    background-size: 112px 112px;
    background-position: top center;
}

.s-item__title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: #15111e;
    margin-bottom: 0;
}

.s-item__span{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.7;
    color: #7d7789;
    display: inline-block;
    margin-bottom: 12px;
}

.s-item__num{
    color: var(--change-color);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.s-item__desc{
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
}

.service__item:last-child{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-last-title{
    font-size: 36px;
    margin-bottom: 35px;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #15111e;
    line-height: 1.2;
}

.service__item .btn-box__box{
    display: block;
    margin: 0 auto;
}

.service__item .btn-box__link{
    background-color: transparent;
    color: #15111e;
    transition: all 0.4s ease;
}

.service__item .bx-envelope{
    color: var(--change-color);
    transition: all 0.4s ease;
}

.service__item .btn-box__link:hover{
    color: #fff;
    background-color: var(--change-color);
}

.service__item .btn-box__link:hover .bx-envelope{
    color: #fff;
}

.service-right-box{
    background-color: var(--change-color);
    width: 157px;
    height: 227px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 35px;
    animation: service-box 5s linear infinite both;
    z-index: -1;
}

@keyframes service-box {
    0%{
        top: 35px;
    }

    50%{
        top: 0;
    }

    100%{
        top: 35px;
    }
}

.service-left-box{
    width: 415px;
    height: 230px;
    position: absolute;
    left: 0;
    bottom: 45px;
    display: inline-block;
    background-color: #3c3c3c;
    z-index: -1;
    animation: service-not-box 5s linear infinite both;
}

@keyframes service-not-box {
    0%{
        bottom: 60px;
    }

    50%{
        bottom: 0;
    }

    100%{
        bottom: 60px;
    }
}

/* SERVICE END */
/* RESUME START */

#resume{
    padding-top: 160px;
    margin-bottom: 250px;
    width: 100%;
    height: 100%;
    position: relative;
}

.resume__entry{
    color: var(--change-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 1.7;
}

.resume__title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.3;
    color: #15111e;
    margin-bottom: 0;
}

.resume__text{
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
    max-width: 500px;
}

.resume__wrapper{
    margin-top: 85px;
}

.list-intro__title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.2;
    margin-bottom: 33px;
    color: #15111e;
}

.list-intro__title::before{
    content: "";
    width: 30px;
    height: 6px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--change-color);
}

.resume__list{
    list-style: none;
}

.resume__item{
    margin-bottom: 40px;
}

.resume__box{
    width: 48px;
    height: 48px;
    background-color: var(--change-color);
    border-radius: 100%;
    position: relative;
}

.resume__box .bx{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.resume-desc{
    margin-left: 30px;
}

.resume-desc__title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: #15111e;
    margin-bottom: 3;
}

.resume-desc__text{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.7;
    color: #15111e;
    margin-bottom: 10px;
}

.resume__time{
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
}

.r-text{
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0;
    padding-left: 75px;
    font-weight: 400;
    color: #7d7789;
}

.resume__video{
    position: relative;
}

.resume__holder{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    cursor: pointer;
}

/* RESUME END */
/* TESTIMONIAL START */

#testimonial{
    position: relative;
}

.testimonial{
    padding: 160px 0 155px;
    background-color: var(--change-color);
}

.testimonial__img-holder{
    position: absolute;
    max-width: 31%;
    height: 700px;
    bottom: 0;
    margin-left: 150px;
}

.testimonial__img-holder img{
    width: 100%;
    height: 100%;
}

.testimonial__content{
    max-width: 660px;
}

.testimonial__entry{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.2px;
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
}

.testimonial__title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 1.3;
    color: #fff;
}

.testimonial__text{
    font-size: 30px;
    color: #fff;
    line-height: 1.6;
    margin-top: 70px;
    margin-bottom: 40px;
}

.customer-box{
    margin-bottom: 55px;
    position: relative;
}

.customer-name{
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -.2px;
    line-height: 1.2;
    padding-left: 65px;
}

.customer-spec{
    font-size: 18px;
    font-weight: 400;
}

.customer-name::before{
    position: absolute;
    content: "";
    width: 36px;
    height: 1px;
    background-color: rgba(255,255,255,.48);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.left-arrow{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    display: block;
    transition: all 0.3s ease;
}

.bx-arrow-back{
    transition: all 0.4s ease;
}

.left-arrow:last-child .bx{
    margin-left: 25px;
    transform: rotateY(180deg);
}

.left-arrow:hover{
    color: #fff;
}

.left-arrow:first-child:hover .bx{
    transform: scale(2);
    margin-right: 30px;
}

.left-arrow:last-child:hover .bx{
    transform: rotateY(180deg) scale(2);
}

.quote{
    position: absolute;
    width: 170px;
    height: 250px;
    border: 6px solid #fff;
    right: 95px;
    top: -40px;
    animation: quote 5s linear infinite both;
}

@keyframes quote {
    0%{
        right: 95px;
    }

    50% {
        right: 150px;
    }

    100%{
        right: 95px;
    }
}

.bxs-quote-left{
    color: #fff;
    font-size: 77px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(180deg);
}

.quote-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    width: 1000px;
    height: 385px;
    margin-right: -350px;
    border: 6px solid #fff;
    animation: q-b 5s linear infinite both;
}

@keyframes q-b {
    0%{
        right: 100%;
    }

    50%{
        right: 95%;
    }

    100%{
        right: 100%;
    }
}

.q-black{
    position: absolute;
    width: 154px;
    height: 154px;
    background-color: #3c3c3c;
    bottom: -77px;
    right: 300px;
    animation: black-box 5s linear infinite both;
}

@keyframes black-box {
    0%{
        right: 300px;
    }

    50%{
        right: 200px;
    }

    100%{
        right: 300px;
    }
}

/* TESTIMONIAL END */
/* BLOG START */

#blog{
    padding: 160px 0 170px;
}

.blog__entry{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    display: block;
    margin-bottom: 5px;
    color: var(--change-color);
}

.blog__title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 1.3;
}

.blog__text{
    max-width: 620px;
    margin: 0 auto;
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
}

.blog__list{
    margin-top: 86px !important;
    list-style: none;
}

.blog__img-box{
    border-radius: 10px;
    overflow: hidden;
}

.blog__img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.blog__img-box img:hover{
    transform: scale(1.2);
}

.blog__content{
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog__type{
    font-size: 18px;
}

.blog__subtitle{
    margin-bottom: 13px;
}

.blog__reference{
    display: inline-block;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    color: #15111e;
    transition: all 0.4s ease;
}

.blog__reference:hover{
    color: var(--change-color) !important;
}

.blog__time{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #7d7789;
}

.blog__link-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__link-box .btn-box__link{
    background-color: transparent;
    color: #15111e;
    padding: 15px 45px;
    transition: all 0.4s ease;
}

.blog__link-box .btn-box__link:hover{
    background-color: var(--change-color);
    color: #fff;
}

.blog__item:not(:last-child){
    margin-bottom: 50px;
}

/* BLOG END */
/* NUMERAL START */

#numeral{
    position: relative;
}

.n-wrapper{
    padding: 125px 0 107px;
    background-color: var(--change-color);
}

.numeral__project{
    font-size: 72px;
    color: #f4f5fe;
    font-weight: 700;
}

.numeral__content{
    padding-left: 40px;
    margin-top: 6px;
}

.numeral__title{
    font-size: 30px;
    font-weight: 600;
    color: #f4f5fe;
    letter-spacing: -0.2px;
    line-height: 1.4;
    display: block;
}

.numeral__num{
    position: relative;
}

.numeral__plus{
    font-size: 36px;
    color: #f4f5fe;
    position: absolute;
    top: 0;
    right: -20px;
}

.numeral__project{
    font-size: 60px;
}

.numeral__title{
    font-size: 25px;
}

.numeral__a-box{
    position: absolute;
    right: 0;
    width: 1000px;
    height: 520px;
    border: 6px solid #fff;
    left: 100%;
    margin-left: -160px;
    top: -83px;
    animation: numeral 5s linear infinite both;
}

@keyframes numeral {
    0%{
        left: 100%;
    }

    50%{
        left: 95%;
    }

    100%{
        left: 100%;
    }
}

/* NUMERAL END */
/* CONTACT-P START */

.contact-p__a-box{
    position: absolute;
    width: 115px;
    height: 90px;
    background-color: #3c3c3c;
    top: 60px;
    left: 80px;
    animation: c-black 5s linear infinite both;
}

@keyframes c-black{
    0%{
        top: 60px;
    }

    50%{
        top: 100px;
    }

    100%{
        top: 60px;
    }
}

#contact-p{
    position: relative;
    padding: 150px 0 170px;
}

.contact-p__entry{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    display: block;
    margin-bottom: 5px;
    color: var(--change-color);
}

.contact-p__title{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.3;
    max-width: 620px;
    margin: 0 auto;
}

.contact-p__box{
    margin-top: 60px;
}

.contact-p__text{
    max-width: 450px;
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    color: #7d7789;
}

.contact-p__item{
    margin-bottom: 25px;
}

.contact-p__img-box{
    font-size: 60px;
}

.contact-p__desc{
    margin-left: 10px;
}

.contact-p__desc span{
    display: block;
}

.contact-p__get-in-touch{
    font-size: 18px;
    font-weight: 700;
    color: #15111e;
    letter-spacing: -0.2px;
}

.contact-p__num{
    font-size: 30px;
    font-weight: 700;
    color: var(--change-color);
    letter-spacing: -.2px;
    position: relative;
}

.contact-p__email::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--change-color);
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.contact-p__email:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

input, 
textarea{
    width: 100%;
}

textarea{
    height: 230px;
    resize: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    border-radius: 10px;
    padding: 15px 25px!important;
    background-color: #fff;
    box-shadow: 13px 13px 21px rgb(131 4 4 / 5%);
    border: none;
    font-size: 18px;
    color: #aaa6b2;
    line-height: 1.6;
    margin-bottom: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea:focus{
    outline: none;
}

.contact-p__btn{
    padding: 15px 46px;
    background-color: var(--change-color);
    border: 2px solid var(--change-color);
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-size: 18px;
}

.bxl-telegram{
    font-size: 20px;
    margin-left: 10px;
}

.contact-p__btn:hover{
    background-color: transparent;
    color: var(--change-color);
}

/* CONTACT-P END */
/* FOOTER START */

.site-footer{
    background-color: #3c3c3c;
    padding: 120px 0 65px;
    position: relative;
}

.footer__logo-part{
    width: 100%;
    margin-bottom: 112px;
    position: relative;
    z-index: 1;
}

.footer__logo-link{
    font-weight: 700;
    text-decoration: none;
    font-size: 42px;
    color: #fff;
    transition: all 0.4s ease;
}

.footer__logo-link:hover{
    color: var(--change-color);
}

.footer__connect{
    padding-right: 30px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 1.7;
}

.footer__list{
    list-style: none;
}

.footer__item:not(:last-child){
    margin-right: 7px;
}

.footer__social-link{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 48px;
    color: var(--change-color);
    position: relative;
    transition: all 0.4s ease;
}

.footer__social-link i{
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer__social-link:hover{
    background-color: var(--change-color);
    color: #fff;
}

.footer__c-text{
    color: #b6b2bf;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    position: relative;
}

.footer__c-link{
    font-size: 18px;
    color: #b6b2bf;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 5px;
}

.footer__c-link:hover{
    color: #fff;
} 
.footer__n-link:hover{
    color: #fff;
}

.footer__c-link::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.footer__n-link::after{
    display: inline-block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 3px;
    transition: width 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.footer__c-link:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.footer__n-link:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}

.footer__c-list{
    list-style: none;
}

.footer__c-item:not(:last-child){
    margin-right: 40px;
}

.footer__n-link{
    text-decoration: none;
    color: #b6b2bf;
    transition: all .3s ease;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    position: relative;
    padding-bottom: 5px;
}

.footer__a-box{
    position: absolute;
    width: 320px;
    height: 300px;
    border: 6px solid #fff;
    top: -200px;
    left: -45px;
}

.f-box{
    position: absolute;
    width: 320px;
    height: 300px;
    border: 6px solid #fff;
    top: -50px;
    left: 90px;
    animation: f-b 5s linear infinite both;
}

@keyframes f-b{
    0%{
        left: 90px;
    }

    50%{
        left: 120px;
    }

    100%{
        left: 90px;
    }
}

.up{
    position: absolute;
    width: 84px;
    height: 143px;
    top: -77px;
    right: 60px;
    background-color: var(--change-color);
    animation: up 5s linear infinite both;
}

@keyframes up{
    0%{
        right: 60px;
    }

    50%{
        right: 100px;
    }

    100%{
        right: 60px;
    }
}

.up__link{
    width: 100%;
    height: 100%;
    display: block;
}

.up__link i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fff;
    transition: all 0.4s ease;
}

.up__link:hover i:first-child{
    margin-top: -3px;
}

.up__link:hover i:nth-child(2){
    top: 55%;
}

/* RESPONSIVE START */

@media screen and (max-width: 1400px) {
    #hero{
        width: 100%;
    }
    .site-header{
        width: 100%;
        padding: 20px 0;
    }

    .header__intro{
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header__logo-link{
        font-size: 38px;
    }
    
    .nav__item:not(:last-child){
        margin-right: 30px;
    }

    .nav__link{
        font-size: 16px;
    }

    .hero-intro{
        width: 100%;
        max-width: 990px;
    }

    .hero-intro__hello{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .hero-intro__title{
        font-size: 80px;
    }

    .hero-intro__entry{
        font-size: 25px;
    }

    .hero-intro__change{
        font-size: 35px;
    }

    .hero-intro__btn-box{
        margin-top: 25px;
        margin-bottom: 45px;
    }

    .btn-box__link{
        padding: 10px 35px;
        font-size: 16px;
    }

    .btn-box__about{
        margin-left: 28px;
    }

    .btn-box__about-link{
        font-size: 16px;
    }

    .main-img{
        width: 326px;
    }

    .main-photo{
        height: 520px;
    }

    .bg-img-one{
        width: 250px;
        top: 100px;
        bottom: 100px;
    }

    .bg-img-two{
        width: 170px;
        height: 170px;
        bottom: 60px;
        left: -30px;
    }

    .bg-img-three{
        width: 60px;
        height: 90px;
        top: 150px;
        left: -45px;
    }

    .bg-img-four{
        width: 285px;
        height: 305px;
    }

    .bg-img-five{
        width: 35px;
        height: 50px;
        right: -135px;
    }

    .bg-text{
        font-size: 200px;
        right: -125px;
        margin-top: -44px;
    }

    .social{
        left: 30px;
    }

    .social__item{
        margin-bottom: 10px;
    }

    .social__link{
        font-size: 20px;
    }

    .fixed-email-box{
        left: 30px;
        bottom: 20px; 
    }

    .fixed-email{
        font-size: 18px;
    }

    .about__left-img img{
        max-width: 273px;
        max-height: 297px;
        margin-left: 120px;
    }

    .about-span{
        width: 200px;
        height: 200px;
        top: 250px;
    }

    @keyframes box-up {
        0%{
            top: 250px;
        }
    
        50%{
            top: 200px;
        }
    
        100%{
            top: 250px;
        }
    }

    .about__box{
        height: 200px;
        margin-right: -30px;
        top: 35%;
    }

    .about__entry{
        font-size: 18px;
        margin-bottom: 6px;
    }

    .about__title{
        font-size: 40px;
    }

    .about__center{
        padding: 0 50px 0 80px;
    }

    .about__location{
        font-size: 25px;
        margin-top: 16px;
    }

    .about__text{
        font-size: 16px;
    }

    .about__text{
        margin-bottom: 20px !important;
    }

    .about__cv{
        padding: 10px 35px;
        font-size: 16px;
    }

    .about__right img{
        max-width: 247px;
        min-height: 367px;
    }

    .about__second-box{
        height: 260px;
        margin-left: -80px;
        top: 0;
    }

    .skill__entry{
        font-size: 18px;
    }
    
    .skill__title{
        font-size: 40px;
    }

    .skill__text{
        font-size: 16px;
    }

    .stats{
        margin-top: 10%;
    }

    #portfolio{
        width: 100%;
        max-width: 1020px;
        margin: 0 auto;
        margin-top: -500px;
    }

    .portfolio__entry{
        font-size: 18px;
    }

    .portfolio__title{
        font-size: 40px;
    }

    .service__entry{
        font-size: 16px;
    }

    .service__title{
        font-size: 40px;
    }

    .service__text{
        font-size: 16px;
    }

    .s-item__bg .svg{
        width: 40px;
        height: 40px;
    }

    .s-item__box{
        padding: 50px 30px;
    }

    .s-item__bg{
        background-size: 78px 78px;
    }

    .s-item__title{
        font-size: 25px;
    }

    .s-item__span{
        font-size: 16px;
    }

    .s-item__num{
        font-size: 25px;
    }

    .s-item__desc{
        font-size: 16px;
    }

    .s-last-title{
        font-size: 25px;
        margin-bottom: 25px;
    }

    .service-right-box{
        width: 110px;
        height: 170px;
    }

    .service-left-box{
        width: 270px;
        height: 190px;
        bottom: 60px;
    }

    .resume__entry{
        font-size: 18px;
    }

    .resume__title{
        font-size: 40px;
    }

    .resume__text{
        font-size: 16px;
    }
    
    .list-intro__title{
        font-size: 25px;
    }

    .resume__box .svg{
        width: 18px;
        height: 18px;
    }

    .resume__box{
        width: 40px;
        height: 40px;
    }

    .resume-desc__title{
        font-size: 19px;
        margin-bottom: 0;
    }

    .resume-desc__text{
        font-size: 16px;
    }

    .resume__time{
        font-size: 14px;
    }

    .r-text{
        font-size: 16px;
        padding-left: 70px;
    }

    #testimonial{
        position: relative;
        padding: 140px 0 135px;
    }

    .testimonial__img-holder{
        max-height: 700px;
        height: 100%;
        max-width: 35%;
        margin-left: 90px;
    }

    .testimonial__entry{
        font-size: 18px;
    }

    .testimonial__title{
        font-size: 40px;
    }

    .testimonial__text{
        margin-top: 60px;
        font-size: 23px;
    }

    .quote{
        width: 150px;
        height: 210px;
    }

    .bxs-quote-left{
        font-size: 60px;
    }

    .quote-box{
        height: 350px;
        margin-right: -250px;
    }

    .q-black{
        bottom: -60px;
        width: 130px;
        height: 130px;
    }

    .blog__entry{
        font-size: 18px;
    }

    .blog__title{
        font-size: 40px;
    }

    .blog__text{
        max-width: 500px !important;
        margin: 0 auto;
        font-size: 16px;
    }

    .blog__list{
        width: 100%;
        max-width: 990px;
        margin: 0 auto !important;
        margin-top: 86px !important; 
    }

    .blog__type{
        font-size: 16px;
    }

    .blog__subtitle{
        margin-bottom: 8px !important;
    }

    .blog__reference{
        font-size: 25px;
    }

    .blog__link-box .btn-box__link{
        padding: 10px 35px;
    }

    .contact-p__entry{
        font-size: 18px;
    }

    .contact-p__title{
        font-size: 40px;
    }

    .contact-p__box{
        width: 100% !important;
        max-width: 990px;
        padding: 0 10px;
        margin: 0 auto !important;
        margin-top: 60px !important;
    }

    .contact-p__info{
        padding-right: 50px;
    }

    .contact-p__text{
        font-size: 16px;
    }

    .contact-p__num{
        font-size: 25px;
    }

    .contact-p__img-box{
        font-size: 50px;
    }

    .contact-p__btn{
        padding: 10px 35px;
        font-size: 16px;
    }

    .bxl-telegram{
        font-size: 17px;
    }

    .numeral__a-box{
        margin-left: -60px;
    }

    .contact-p__a-box{
        width: 100px;
        height: 80px;
    }

    .footer{
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
    }

    .footer__logo-link{
        font-size: 38px;
    }

    .footer__connect{
        font-size: 16px;
    }
    .footer__social-link i{
        font-size: 20px;
    }

    .footer__c-text{
        font-size: 16px;
    }

    .footer__c-link{
        font-size: 16px;
    }

    .footer__n-link{
        font-size: 16px;
    }

    .up{
        width: 70px;
        height: 130px;
        top: -65px;
        right: 20px
    }
}

@media screen and (max-width: 992px){
    .site-header{
        background-color: #fff;
    }

    .header__logo-box{
        margin-bottom: 10px;
    }

    .header__intro{
        flex-direction: column;
    }

    .header__logo-link{
        color: #000;
    }

    .nav__link{
        color: #000;
    }

    /* HEADER END */
    /* HERO-INTRO START */

    .hero-intro__content{
        padding-top: 146px;
    }

    .hero-intro__img-box{
        display: none !important;
    }

    .social{
        display: none;
    }

    .fixed-email-box{
        right: 30px;
        bottom: 20px; 
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100% !important;
        max-width: 100%;
    }
    .header__intro{
        width: 100%;
        flex-direction: row;
    }

    .header__logo-box{
        margin-bottom: 0;
    }

    .nav__list{
        width: 100%;
        height: 50%;
        position: fixed;
        top: -100%;
        left: 0;
        flex-direction: column;
        padding: 25px 50px !important;
        background-color: #000;
        transition: all 0.4s ease;
    }

    .nav__item{
        width: 100%;
        margin: 0 !important;
        text-align: left;
    }

    .menu-btn{
        display: flex !important;
        border: none;
        background: transparent;
        color: #fff;
        font-size: 40px;
    }

    .show{
        top: 97px;
    }
}

@media screen and (max-width: 567px){
    .header__logo-link{
        font-size: 20px;
    }

    .menu-btn i{
        font-size: 20px;
    }
}